<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Ascended Computer Parts - About</title>
</head>
<body>
   <a th:href="@{/}">Home</a><br>
   <p>   Ascended Computer Parts is a locally owned, US-based company that specializes in selling the finest computer parts for your PC needs.
    Ascended Computer Parts seeks to help you excel with all of the correct hardware, so that you're heavens above the competition.
    Your satisfaction is guaranteed, and your ascension into the realm of the deities is merely a click away; shop Ascended Computer Parts and reach the power of the Gods!</p>
</body>
</html>